.input-wrap {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
}

.action-wrap {
  display: flex;
  flex-direction: row;
  padding: 0.2rem;
  justify-content: space-around;
}

input {
  margin-bottom: 0.2rem;
}

button {
  display: flex;
}
